{{- $chezmoiKey := joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" -}}
.config/nvim/.git/**
.config/nvim/.DS_Store
.config/nvim/**/*.log
README.md
Dockerfile
{{- if ne .chezmoi.os "linux" }}
.bashrc
.zshrc
{{- end }}
{{- if not (stat $chezmoiKey) }}
.config/shell/secrets.sh
.ssh/config
{{- end }}
